name: CI
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Run prettier
        run: bun run fmt:check

  # playwright-tests:
  #   name: Playwright tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup Bun
  #       uses: oven-sh/setup-bun@v1
  #       with:
  #         bun-version: latest
  #     - uses: actions/cache@v3
  #       id: playwright-cache
  #       with:
  #         path: |
  #           ~/.cache/ms-playwright
  #         key: ${{ runner.os }}-playwright-${{ hashFiles('**/bun.lockb') }}
  #     - name: Install dependencies
  #       run: bun install
  #     - name: Install Playwright dependencies
  #       run: bunx playwright install --with-deps
  #     - name: Run tests
  #       run: bun run test
